.speech{

    font-family:'Lucida Sans', 'Lucida Sans Regular';
    font-size:large;
    color:black;

}

.direction{
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    color:black;
    background-color:peachpuff;
    
}
.direction:hover{
    background-color:brown;
    color:whitesmoke;
}

.cotton{
    color:red;
    border-style: dashed;
}
.cotton:hover{
    text-shadow: 2px 2px;
    background-color:blueviolet;
    color:beige;
}
      
.betty{
    color:blue;
    border-style: solid;
}
.betty:hover{
    text-shadow: 2px 2px;
    background-color:darkgoldenrod;
    color:cornsilk;

}

.table, th, td{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 30px;
}

th, td{
    padding: 15px;
    margin-right: 50px;
}

tr:nth-child(even){
    background-color:aqua;
}

tr:nth-child(odd){
    background-color:cornsilk
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 10px;;
    padding: 20px;
}

ul.navbar-horizontal li {
    float:left; 
    color:#000;
    background-color:bisque;
}

ul.navbar-horizontal li:hover {
    text-shadow: 5px 5px 10px black;
    background-color:antiquewhite;
}





