.speech{

    font-family:'Lucida Sans', 'Lucida Sans Regular';
    font-size:large;
    color:black;

}

.direction{
    font-family:'Times New Roman', Times, serif;
    font-size: large ;
    color:black;
    background-color:peachpuff;
    
}

.name{
    color:;
}