.speech{

    font-family:'Lucida Sans', 'Lucida Sans Regular';
    font-size:large;
    color:black;

}

.direction{
    font-family:'Times New Roman', Times, serif;
    font-size:small;
    color:black;
    background-color:peachpuff;
    
}
.direction:hover{
    background-color:brown;
    color:whitesmoke;
}

.cotton{
    color:pink;
}
      
.betty{
    color:orange;
}



